name: Build IEVR Dataminer

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v4

    - name: Cache dependencies
      uses: Swatinem/rust-cache@v2
          
    - name: Run tests
      run: cargo test --verbose

    - name: Build
      run: cargo build --release

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v6.0.0
      with:
        # Artifact name
        name: ievr_dataminer-${{ matrix.os }}--${{ github.sha }}
        # A file, directory or wildcard pattern that describes what to upload
        path: |
          target/release/ievr_dataminer
          target/release/ievr_dataminer.exe
